/* Restart CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #653068;
    margin: 0;
    padding: 0;
}

/* navigering bar*/
.navbar {
    width: 85%;
    margin: auto;
    overflow: hidden;
    font-size: 19px;
}

/*header*/
header {
    background-color: #653068;
    color: #FFF4EB;
    padding: 30px;
    text-align: center;
}

header h1 {
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #FFF4EB;
}


/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

/* hero tekst*/
.hero {
    text-align: center;
    padding: 120px 0;
    background: #B5A886; 
}

.hero h2 {
    margin-bottom: 30px;
    font-size: 2em;
    color: #FFF4EB;
}

.hero p {
    font-size: 1.4em;
    margin-bottom: 30px;
    color: #FFF4EB;
}

/*meny tekst*/
.meny {
    text-align: center;
    padding: 45px 0;
    background: #FFB570; 
}

.meny h2 {
    margin-bottom: 40px;
    font-size: 2em;
    color: #FFF4EB;
}

.meny h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #FFF4EB;
}

.meny p {
    font-size: 1.4em;
    margin-bottom: 30px;
    color: #FFF4EB;
}

.meny ul li {
    margin-left: 20px;
    color: #FFF4EB;
}

.meny strong {
    color: #FFF4EB;
}


/*varer*/
.varer {
    text-align: center;
    padding: 45px 0;
    background: #F44174; 
}

.varer h2 {
    margin-bottom: 30px;
    font-size: 2em;
    color: #FFF4EB;
}

.varer ul {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #FFF4EB;
}

.varer ul li {
    list-style: none;
    margin-left: 30px;
    margin-top: 25px;
    color: #FFF4EB;
}

.varer strong {
    color: #F7DEE2;
}




/*rom*/
.rom {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*main*/
main {
    text-align: center;
    margin: 20px;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*kontakt info*/
footer {
    background-color: #653068;
    color: #FFF4EB;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*menyside*/
.meny-dag {
    margin-bottom: 20px;
}

.meny-dag ul {
    list-style-type: none;
}

.meny-dag h3 {
    color: #FFF4EB;
}

.meny {
    background: #FA7E61;
}

.meny strong {
    color: #668BCC;
}

.menyside {
    text-align: center;
    padding: 120px 0;
    background: #FA7E61; 
    color: #FFF4EB;
}

.menyside h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.menyside p {
    font-size: 1.2em;
    margin-bottom: 30px;
}


