/* Restart CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(89, 224, 89);
    margin: 0;
    padding: 0;
}

/*header*/
header {
    background-color: rgb(231, 116, 231);
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}


/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

/* hero tekst*/
.hero {
    text-align: center;
    padding: 120px 0;
    background: #FFC247; 
}

.hero h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #fff;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #fff;
}

/* navigering bar*/
.navbar {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*main*/
main {
    text-align: center;
    margin: 20px;
}

/*kontakt info*/
footer {
    background-color: rgb(216, 74, 74);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*menyside*/
.meny-dag {
    margin-bottom: 20px;
}

.meny-dag ul {
    list-style-type: none;
}

strong {
    color: rgb(117, 185, 162);
}

.menyside {
    text-align: center;
    padding: 120px 0;
    background: #FF7B9C; 
    color: #fff;
}

.menyside h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.menyside p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/*vareside*/
.eksempler {
    padding: 120px 0;
    background: #e567b3; 
    color: #fff;
}

.eksempler h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}
.eksempler p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}


.eksempler h1 {
    margin-bottom: 10px;
    font-size: 2em;
}
